<div class="container">
<header>
  <h1>Jobby Job Hunting</h1>
</header>
<section class="content">
  <h3>Jobs I applied for:</h3>

  <% @jobs.each do |job| %>
   <%= link_to job.company, job %> <br>
  <% end %>

  </section>
</div>
