<!DOCTYPE html>
<html>
<head>
  <title>JobbyJob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'New Job', new_job_path %> <br><br>
<%= yield %>

</body>
</html>
